swagger: '2.0'
info:
  title: Biothings Explorer Translator Knowledge Beacon API
  version: 1.1.1
  contact:
    url: 'http://starinformatics.com'
    email: richard@starinformatics.com
  description: >
    This is the Translator Knowledge Beacon web service application programming
    interface (API) wrapping Biothings Explorer (http://biothings.io/explorer/)
  license:
    name: MIT License
    url: 'http://opensource.org/licenses/MIT'
host: biothings-beacon.ncats.io
basePath: /
schemes:
  - https
produces:
  - application/json
tags:
  - name: metadata
    description: Queries about global characteristics of the knowledge source
  - name: concepts
    description: Queries relating to concepts
  - name: statements
    description: Queries relating to concept-relationship statements and their evidence
paths:
  /categories:
    get:
      description: >
        Get a list of concept categories and number of their concept instances
        documented by the knowledge source. These types should be mapped onto
        the Translator-endorsed Biolink Model concept type classes with local
        types, explicitly added as mappings to the Biolink Model YAML file. A
        frequency of -1 indicates the category can exist, but the count is
        unknown.
      tags:
        - metadata
      operationId: getConceptCategories
      responses:
        '200':
          schema:
            type: array
            items:
              title: BeaconConceptCategory
              type: object
              properties:
                id:
                  type: string
                  description: the CURIE of the concept category
                uri:
                  type: string
                  description: >-
                    The category URI which should generally resolves to  the
                    full semantic description of the category
                category:
                  type: string
                  description: 'human readable name ("rdfs:label")'
                local_id:
                  type: string
                  description: the locally designated CURIE of the concept category
                local_uri:
                  type: string
                  description: >-
                    This locally designated category URI should generally
                    resolve to the full semantic description of the category
                local_category:
                  type: string
                  description: 'human readable local semantic type name ("rdfs:label")'
                description:
                  type: string
                  description: human readable name definition of the category
                frequency:
                  type: integer
                  description: >-
                    the number of concept entries of the specified type in the
                    beacon knowledge base
          description: |
            Successful response with categories and frequency returned
          examples:
            application/json:
              - category: gene
              - category: taxonomy
              - category: bioassay

  /predicates:
    get:
      description: >
        Get a list of predicates used in statements issued by the knowledge
        source
      tags:
        - metadata
      operationId: getPredicates
      responses:
        '200':
          schema:
            type: array
            items:
              title: BeaconPredicate
              type: object
              properties:
                id:
                  type: string
                  description: |
                    CURIE-encoded identifier of predicate relation
                uri:
                  type: string
                  description: >-
                    The predicate URI which should generally resolves to the
                    full semantic description of the predicate relation
                edge_label:
                  type: string
                  description: >
                    A predicate edge label which must be taken from the minimal
                    predicate ('slot') list of the [Biolink
                    Model](https://biolink.github.io/biolink-model).
                relation:
                  type: string
                  description: >
                    The predicate relation, with the preferred format being a
                    CURIE where one exists, but strings/labels acceptable. This
                    relation  may be equivalent to the edge_label (e.g.
                    edge_label: has_phenotype, relation: RO:0002200), or a more
                    specific relation in cases where the source provides more
                    granularity  (e.g. edge_label: molecularly_interacts_with,
                    relation: RO:0002447)
                local_id:
                  type: string
                  description: >
                    CURIE-encoded identifier of the locally defined predicate
                    relation. Such terms should be formally documented as
                    mappings in the [Biolink
                    Model](https://biolink.github.io/biolink-model)
                local_uri:
                  type: string
                  description: >-
                    The predicate URI which should generally resolves  to the
                    local predicate relation
                local_relation:
                  type: string
                  description: >
                    human readable name of the locally defined predicate
                    relation
                description:
                  type: string
                  description: >
                    human readable definition of predicate relation  provided by
                    this beacon
                frequency:
                  type: integer
                  description: >-
                    the number of statement entries using the specified
                    predicate in the given beacon knowledge base
          description: >
            Successful response with predicates with CURIE and definitions
            indexed by beacons which support the relation
          examples:
            application/json:
              - relation: PhenotypeToDiseaseAssociation
              - edge_label: treats
  /kmap:
    get:
      description: >
        Get a high level knowledge map of the all the beacons by subject
        semantic type, predicate and semantic object type
      tags:
        - metadata
      operationId: getKnowledgeMap
      responses:
        '200':
          schema:
            type: array
            items:
              title: BeaconKnowledgeMapStatement
              type: object
              properties:
                subject:
                  title: BeaconKnowledgeMapSubject
                  type: object
                  properties:
                    category:
                      type: string
                      description: >
                        the concept semantic type of a statement subject. This
                        should be specified as Biolink concept semantic type
                        names like gene, pathway, etc. (see [Biolink
                        Model](https://biolink.github.io/biolink-model) for the
                        full list of terms)
                    prefixes:
                      type: array
                      items:
                        type: string
                        description: >
                          the prefix of the namespace of statement subject
                          concept identifiers which may conceivably be bound to
                          the given relationship
                predicate:
                  title: BeaconKnowledgeMapPredicate
                  type: object
                  properties:
                    edge_label:
                      type: string
                      description: >
                        Human readable name of the 'minimal' standard Biolink
                        Model predicate relationship name.   See [Biolink
                        Model](https://biolink.github.io/biolink-model)  for the
                        full list of terms.
                    relation:
                      type: string
                      description: >
                        Human readable name of a 'maximal' Biolink Model or
                        beacon-specific (or Reasoner-specific) predicate
                        relationship name.
                    negated:
                      type: boolean
                      description: >
                        Indicates whether edge statement is negated (i.e. is not
                        true)
                object:
                  title: BeaconKnowledgeMapObject
                  type: object
                  properties:
                    category:
                      type: string
                      description: >
                        the concept semantic type of a statement object. This

                        should be specified as Biolink concept semantic type
                        names

                        like gene, pathway, etc. (see [Biolink
                        Model](https://biolink.github.io/biolink-model) for the
                        full list of terms)
                    prefixes:
                      type: array
                      items:
                        type: string
                        description: >
                          the prefix of the namespace of statement object
                          concept identifiers which may conceivably be bound to
                          the given relationship
                frequency:
                  type: integer
                  description: >
                    the frequency of statements of the specified relationship
                    within the given beacon
                description:
                  type: string
                  description: |
                    a description of the nature of the relationship
          description: |
            Successful response with categories and frequency returned
          examples:
            application/json:
              - subject:
                  category: phenotype
                  prefixes:
                    - hp
                predicate:
                  relation: DiseaseToPhenotypicFeatureAssociation
                  negated: false
                object:
                  category: disease
                  prefixes:
                    - "orphanet"
                    - "doid"
                    - "omim.disease"
                    - "mondo"
  /concepts:
    get:
      deprecated: true
      description: |
        Retrieves a list of whose concept in the
        beacon knowledge base with names and/or synonyms
        matching a set of keywords or substrings.
        The results returned should generally
        be returned in order of the quality of the match,
        that is, the highest ranked concepts should exactly
        match the most keywords, in the same order as the
        keywords were given. Lower quality hits with fewer
        keyword matches or out-of-order keyword matches,
        should be returned lower in the list.
      tags:
        - concepts
      parameters:
        - name: keywords
          in: query
          description: >-
            an array of keywords or substrings against which to match concept
            names and synonyms
          required: true
          type: array
          items:
            type: string
        - name: categories
          in: query
          description: >
            an array set of concept categories - specified as Biolink name
            labels codes gene, pathway, etc. - to which to constrain concepts
            matched by the main keyword search (see [Biolink
            Model](https://biolink.github.io/biolink-model) for the full list of
            terms)
          required: false
          type: array
          items:
            type: string
        - name: size
          in: query
          description: >
            maximum number of concept entries requested by the client; if this
            argument is omitted, then the query is expected to returned all  the
            available data for the query
          required: false
          type: integer
      operationId: getConcepts
      responses:
        '200':
          schema:
            type: array
            items:
              title: BeaconConcept
              type: object
              properties:
                id:
                  type: string
                  description: >
                    local object CURIE for the concept in the specified
                    knowledge source database
                name:
                  type: string
                  description: |
                    canonical human readable name of the concept
                categories:
                  type: array
                  items:
                    type: string
                  description: >
                    concept semantic type 'category'. Should be specified from
                    the

                    [Biolink Model](https://biolink.github.io/biolink-model).
                description:
                  type: string
                  description: |
                    (optional) narrative concept definition
          description: |
            Successful response with list of core concept data returned
          examples:
            application/json:
              - id: 'wd:Q6591532'
                name: 'WRN protein, human'
                categories:
                  - protein
                description: >-
                  Werner syndrome ATP-dependent helicase (1432 aa, ~162 kDa) is
                  encoded by the human WRN gene. This protein plays a role in
                  both magnesium and ATP-dependent DNA-helicase activity and
                  3\'->5\' exonuclease activity towards double-stranded DNA with
                  a 5\'-overhang.
  '/concepts/{conceptId}':
    get:
      description: >
        Retrieves details for a specified concepts in the system, as specified
        by a (url-encoded) CURIE identifier of a concept known the given
        knowledge source.
      tags:
        - concepts
      parameters:
        - name: conceptId
          in: path
          description: (url-encoded) CURIE identifier of concept of interest
          required: true
          type: string
      operationId: getConceptDetails
      responses:
        '200':
          schema:
            title: BeaconConceptWithDetails
            type: object
            properties:
              id:
                type: string
                description: >
                  local object CURIE for the concept in the specified knowledge
                  source database
              uri:
                type: string
                description: |
                  (optional) equivalent to expansion of the CURIE
              name:
                type: string
                description: |
                  canonical human readable name of the concept
              symbol:
                type: string
                description: |
                  (optional) symbol, used for genomic data
              categories:
                type: array
                items:
                  type: string
                description: |
                  concept semantic type 'category'. Should be specified from the
                  [Biolink Model](https://biolink.github.io/biolink-model).
              description:
                type: string
                description: |
                  (optional) narrative concept definition
              synonyms:
                type: array
                description: |
                  list of synonyms for concept
                items:
                  type: string
              exact_matches:
                description: >
                  List of [CURIE](https://www.w3.org/TR/curie/)  identifiers of
                  concepts thought to be exactly matching concepts,
                  [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch).
                  This is generally the same list returned by the /exact_matches
                  endpoint (given the concept 'id' as input)
                type: array
                items:
                  type: string
              details:
                type: array
                items:
                  title: BeaconConceptDetail
                  type: object
                  properties:
                    tag:
                      type: string
                      description: |
                        property name
                    value:
                      type: string
                      description: |
                        property value
                  description: |
                    Any other metadata returned by the beacon as tag = value
          description: |
            Successful response with concept details returned
          examples:
            application/json:
              - id: 'hgnc.symbol:WRN'
                name: 'WRN'
                categories:
                  - gene
                description: >-
                  This gene encodes a member of the RecQ subfamily of DNA helicase proteins. The encoded nuclear protein is important in the maintenance of genome stability and plays a role in DNA repair, replication, transcription and telomere maintenance. This protein contains a N-terminal 3' to 5' exonuclease domain, an ATP-dependent helicase domain and RQC (RecQ helicase conserved region) domain in its central region, and a C-terminal HRDC (helicase RNase D C-terminal) domain and nuclear localization signal. Defects in this gene are the cause of Werner syndrome, an autosomal recessive disorder characterized by accelerated aging and an elevated risk for certain cancers. [provided by RefSeq, Aug 2017].
                exactmatches:
                  - "OMIM.GENE:604611"
                  - "HGNC.SYMBOL:WRN"
                  - "HGNC:12791"
                  - "UMLS.GENE:C1337007"
                  - "ENSEMBL.GENE:ENSG00000165392"
                  - "PHAROS.TARGET:14264"
                synonyms: []
  /exactmatches:
    get:
      description: >
        Given an input array of [CURIE](https://www.w3.org/TR/curie/)
        identifiers of known exactly matched concepts
        [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch),
        retrieves the list of [CURIE](https://www.w3.org/TR/curie/) identifiers
        of additional concepts that are deemed by the given knowledge source to
        be exact matches to one or more of the input concepts **plus** whichever
        concept identifiers from the input list were specifically matched to
        these additional concepts, thus giving the whole known set of equivalent
        concepts known to this particular knowledge source.  If an empty set is
        returned, the it can be assumed that the given knowledge source does
        not know of any new equivalent concepts matching the input set. The
        caller of this endpoint can then decide whether or not to treat  its
        input identifiers as its own equivalent set.
      tags:
        - concepts
      parameters:
        - name: c
          in: query
          description: >
            an array set of [CURIE-encoded](https://www.w3.org/TR/curie/)
            identifiers of concepts thought to be exactly matching concepts, to
            be used in a search for additional exactly matching concepts
            [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch).
          required: true
          type: array
          items:
            type: string
      operationId: getExactMatchesToConceptList
      responses:
        '200':
          description: >
            Successful response returns a set of
            [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers of
            concepts (with supporting evidence code and reference) matching at
            least one identifier in the input list of known exactly matched
            concepts
            [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch). Each
            concept identifier is returned with  the full list of any additional
            associated [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers
            of exact match concepts known to the given Knowledge Source.
          schema:
            type: array
            items:
              title: ExactMatchResponse
              type: object
              properties:
                id:
                  type: string
                  description: |
                    A given [CURIE](https://www.w3.org/TR/curie/) identifier.
                within_domain:
                  type: boolean
                  description: >
                    True if the knowledge source is aware of this identifier,
                    and has the capacity to return the identified concept.
                    Otherwise, false.
                has_exact_matches:
                  description: >
                    List of [CURIE](https://www.w3.org/TR/curie/) identifiers of
                    a exactly matching concepts.
                  type: array
                  items:
                    type: string
          examples:
            application/json:
              - id: "MONDO:0014458"
                within_domain: True
                has_exact_matches:
                  - "OMIM.DISEASE:616026"
                  - "UMLS.DISEASE:C4014962"
  /statements:
    get:
      description: >
        Given a specified set of [CURIE-encoded](https://www.w3.org/TR/curie/)
        source ('s') concept identifiers,  retrieves a list of relationship
        statements where either the subject or object concept matches any of the
        input 'source' concepts provided.  Optionally, a set of target ('t')
        concept  identifiers may also be given, in which case a member of the
        'target' identifier set should match the concept opposing the 'source'
        in the  statement, that is, if the'source' matches a subject, then the
        'target' should match the object of a given statement (or vice versa).
      tags:
        - statements
      parameters:
        - name: s
          in: query
          description: >
            an array set of [CURIE-encoded](https://www.w3.org/TR/curie/)
            identifiers of  'source' concepts possibly known to the beacon.
            Unknown CURIES should simply be ignored (silent match failure).
          required: true
          type: array
          items:
            type: string
        - name: edge_label
          in: query
          description: >
            (Optional) A predicate edge label against which to constrain the
            search for statements ('edges') associated with the given query seed
            concept. The predicate edge_names for this parameter should be as
            published by the /predicates API endpoint and must be taken from the
            minimal predicate ('slot') list of the [Biolink
            Model](https://biolink.github.io/biolink-model).
          required: false
          type: string
        - name: relation
          in: query
          description: >
            (Optional) A predicate relation against which to constrain the
            search for statements ('edges') associated with the given query seed
            concept. The predicate relations for this parameter should be as
            published by the /predicates API endpoint and the preferred format
            is a CURIE  where one exists, but strings/labels acceptable. This
            relation may be equivalent to the edge_label (e.g. edge_label:
            has_phenotype, relation: RO:0002200), or a more specific relation
            in cases where the source provides more granularity (e.g.
            edge_label: molecularly_interacts_with, relation: RO:0002447)
          required: false
          type: string
        - name: t
          in: query
          description: >
            (optional) an array set of
            [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers of
            'target' concepts possibly known to the beacon.  Unknown CURIEs
            should simply be ignored (silent match failure).
          required: false
          type: array
          items:
            type: string
        - name: keywords
          in: query
          description: >-
            an array of keywords or substrings against which to filter concept
            names and synonyms
          required: false
          type: array
          items:
            type: string
        - name: categories
          in: query
          description: >
            an array set of concept categories (specified as Biolink name labels
            codes gene, pathway, etc.) to which to constrain concepts matched by
            the main keyword search (see [Biolink
            Model](https://biolink.github.io/biolink-model) for the full list of
            codes)
          required: false
          type: array
          items:
            type: string
        - name: size
          in: query
          description: >
            maximum number of concept entries requested by the client; if this
            argument is omitted, then the query is expected to returned all  the
            available data for the query
          required: false
          type: integer
      operationId: getStatements
      responses:
        '200':
          description: >
            Successful response returns a list of concept-relations where there
            is an exact match of an input concept identifier either to the
            subject or object concepts  of the statement
          schema:
            type: array
            items:
              title: BeaconStatement
              type: object
              properties:
                id:
                  type: string
                  description: >-
                    CURIE-encoded identifier for statement (can be used to
                    retrieve associated evidence)
                subject:
                  title: BeaconStatementSubject
                  type: object
                  properties:
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of concept
                    name:
                      type: string
                      description: human readable label of subject concept
                    categories:
                      type: array
                      items:
                        type: string
                      description: >
                        a semantic group for the subject concept (specified as a
                        code gene, pathway, disease, etc. - see [Biolink
                        Model](https://biolink.github.io/biolink-model) for the
                        full list of categories)
                predicate:
                  title: BeaconStatementPredicate
                  type: object
                  properties:
                    edge_label:
                      type: string
                      description: >
                        The predicate edge label associated with this statement,
                        which should be as published by the /predicates API
                        endpoint and must be taken from the minimal predicate
                        ('slot') list of the [Biolink
                        Model](https://biolink.github.io/biolink-model).
                    relation:
                      type: string
                      description: >-
                        The predicate relation associated with this statement,
                        which should be as published by the /predicates API
                        endpoint with the preferred format being a CURIE where
                        one exists, but strings/labels acceptable. This relation
                        may be equivalent to the edge_label (e.g. edge_label:
                        has_phenotype, relation: RO:0002200), or a more specific
                        relation in cases where the source provides more
                        granularity (e.g. edge_label:
                        molecularly_interacts_with, relation: RO:0002447)
                    negated:
                      type: boolean
                      description: >
                        (Optional) a boolean that if set to true, indicates the
                        edge statement is negated i.e. is not true
                object:
                  title: BeaconStatementObject
                  type: object
                  properties:
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of object concept
                    name:
                      type: string
                      description: human readable label of object concept
                    categories:
                      type: array
                      items:
                        type: string
                      description: >
                        a semantic group for the object concept (specified as a
                        code gene, pathway, disease, etc. - see [Biolink
                        Model](https://biolink.github.io/biolink-model) for the
                        full list of categories)
          examples:
            application/json:
              - source: semmeddb
                id: 'MONDO:0018911:DiseaseOntologyToChildDiseaseOntologyAssociation:DOID:0111108'
                subject:
                  id:
                    - 'MONDO:0018911'
                  name: maturity-onset diabetes of the young (disease)
                  categories:
                    - disease
                predicate:
                  edge_label: DiseaseOntologyToChildDiseaseOntologyAssociation
                object:
                  id:
                    - 'DOID:0111108'
                  name: maturity-onset diabetes of the young type 10
                  categories:
                    - disease
  '/statements/{statementId}':
    get:
      description: >
        Retrieves a details relating to a specified concept-relationship
        statement include 'is_defined_by and 'provided_by' provenance; extended
        edge properties exported as tag = value; and any associated annotations
        (publications, etc.)  cited as evidence for the given statement.
      tags:
        - statements
      parameters:
        - name: statementId
          in: path
          description: >
            (url-encoded) CURIE identifier of the concept-relationship statement
            ("assertion", "claim") for which associated evidence is sought
          required: true
          type: string
        - name: keywords
          in: query
          description: >-
            an array of keywords or substrings against which to  filter
            annotation names (e.g. publication titles).
          required: false
          type: array
          items:
            type: string
        - name: size
          in: query
          description: >
            maximum number of concept entries requested by the client; if this
            argument is omitted, then the query is expected to returned all  the
            available data for the query
          required: false
          type: integer
      operationId: getStatementDetails
      responses:
        '200':
          schema:
            title: BeaconStatementWithDetails
            type: object
            properties:
              id:
                type: string
                description: >
                  Statement identifier of the statement made in an edge (echoed
                  back)
              is_defined_by:
                type: string
                description: >
                  A CURIE/URI for the translator group that wrapped this
                  knowledge source ('beacon') that publishes the statement made
                  in an edge.
              provided_by:
                type: string
                description: >
                  A CURIE prefix, e.g. Pharos, MGI, Monarch. The group that
                  curated/asserted the statement made in an edge.
              qualifiers:
                type: array
                description: >
                  (Optional) terms representing qualifiers that modify or
                  qualify the meaning of the statement made in an edge.
                items:
                  type: string
              annotation:
                type: array
                description: >
                  Extra edge properties, generally compliant with Translator
                  Knowledge Graph Standard Specification
                items:
                  title: BeaconStatementAnnotation
                  type: object
                  properties:
                    tag:
                      type: string
                      description: |
                        property name
                    value:
                      type: string
                      description: |
                        property value
                  description: |
                    Statement edge properties returned as tag = value pairs
              evidence:
                type: array
                items:
                  title: BeaconStatementCitation
                  type: object
                  properties:
                    id:
                      type: string
                      description: >
                        CURIE-encoded identifier to a citation to evidence
                        supporting the given statement (e.g. PMID of a pubmed
                        abstract)
                    uri:
                      type: string
                      description: |
                        (optional) expansion of the citation CURIE
                    name:
                      type: string
                      description: >
                        canonical human readable and searchable name of the
                        citation (i.e. publication title, comment, etc.)
                    evidence_type:
                      type: string
                      description: >
                        class of evidence supporting the statement made in an
                        edge - typically a class from the ECO ontology (e.g.
                        ECO:0000220 'sequencing assay evidence', see [Evidence
                        Ontology](http://purl.obolibrary.org/obo/eco.owl)
                    date:
                      type: string
                      description: >
                        publication date of annotation (generally of format
                        'yyyy-mm-dd')
          description: |
            successful call with statement details returned
          examples:
            application/json:
              is_defined_by: "BioLink API"
              provided_by: "hpoa.ttl"
              qualifiers: []
              annotation:
                - tag: predicate
                  value: DiseaseToPhenotypicFeatureAssociation
                - tag: endpoint
                  value: https://api.monarchinitiative.org/api/bioentity/disease/{diseaseid}/phenotypes
                - tag: endpoint_input
                  value: "MONDO:0018911"
